<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixelstack.ims.mapper.CommentMapper">

    <!-- 根据图片ID获取评论 -->
    <select id="getCommentByiid" resultType="com.pixelstack.ims.domain.CommentInfo">
        SELECT cid, username, content, cdate
        FROM tb_comment, tb_user_info
        WHERE cid IN (
            SELECT cid FROM tb_comment_relate WHERE iid = #{iid}
        )
        AND tb_user_info.uid = tb_comment.uid
    </select>

    <!-- 添加评论 -->
    <insert id="addComment" parameterType="com.pixelstack.ims.domain.Comment" useGeneratedKeys="true" keyProperty="cid" keyColumn="cid">
        INSERT INTO tb_comment(uid, content, cdate)
        VALUES (#{uid}, #{content}, #{cdate})
    </insert>

    <!-- 添加评论关联 -->
    <insert id="addCommentRelate">
        INSERT INTO tb_comment_relate(iid, cid)
        VALUES (#{iid}, #{cid})
    </insert>

    <!-- 更新举报状态 -->
    <update id="updateReport">
        UPDATE tb_comment SET report = #{report} WHERE cid = #{cid}
    </update>

    <!-- 删除评论 -->
    <delete id="deleteComment">
        DELETE FROM tb_comment WHERE cid = #{cid}
    </delete>

    <!-- 获取被举报的评论 -->
    <select id="getCommentWithReport" resultType="com.pixelstack.ims.domain.CommentInfo">
        SELECT cid, username, content, cdate, report
        FROM tb_comment, tb_user_info
        WHERE tb_user_info.uid = tb_comment.uid AND report = 1
    </select>

</mapper>