<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixelstack.ims.mapper.ThumbMapper">

    <!-- 根据图片ID获取点赞数 -->
    <select id="getThumbByiid" resultType="int">
        SELECT COUNT(*) FROM tb_thumb_relate WHERE iid = #{iid}
    </select>

    <!-- 添加点赞 -->
    <insert id="addThumbByUid">
        INSERT INTO tb_thumb_relate(uid, iid) VALUES (#{uid}, #{iid})
    </insert>

    <!-- 取消点赞 -->
    <delete id="deleteThumbByUid">
        DELETE FROM tb_thumb_relate WHERE uid = #{uid} AND iid = #{iid}
    </delete>

    <!-- 检查是否点赞 -->
    <select id="checkThumbByUid" resultType="int">
        SELECT COUNT(*) FROM tb_thumb_relate WHERE iid = #{iid} AND uid = #{uid}
    </select>

</mapper>